/* Mobile Portrait View */

@media screen and (max-width: 479px) {
    * {
        box-sizing: border-box;
    }
    .wrapper {
        width: 95%;
        display: inherit !important;
    }

    /* Main Header */
    .site-title{
        text-align: center;
        margin: 0 0 10px;
    }
    .logo{
        text-align: center;
        padding: 15px 0 0;
    }
    .right-area {
        width: 260px;
        margin: 0 auto 20px;
    }
    .right-area .cell{
        width: 100%;
    }
    .right-area .cell .cell-icon{
        float: left;
    }
    .cell:not(:last-child){
        padding-right: 0;
        padding-bottom: 20px;
        margin-right: 0;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid;
    }

    /* Navigation Menu Css */
	.toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin: 10px 0 0;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .navigation{
        padding: 0;
        margin-bottom: 15px;
    }
    .sitenav {
        display: none;
        margin-bottom: 10px;
        width:100%;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li ul {
        color: #fff;
        opacity: 0;
        padding:0;
        position: absolute;
        right: 9999rem;
        top: calc(100% + 2rem);
        transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
        transform: translateY(0.6rem);
        width: 20rem;
        z-index: 1;
    }
    .sitenav ul li.menu-item-has-children:hover > ul,
    .sitenav ul li.menu-item-has-children:focus > ul,
    .sitenav ul li.menu-item-has-children.focus > ul {
        left: 0;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.15s linear, transform 0.15s linear;
        background-color:#303030;
        top:0;
        position: relative;
    }
    .sitenav ul li::before{
        content: none;
    }
    .sitenav ul li a {
        padding: 14px 12px;
        display: block;
        color: #ffffff !important;
        text-align:left;
    }
    .sitenav ul li a:hover {
        color: #ffffff;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
		color: #ffffff !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    .sitenav ul li.current_page_item a{
        background-color:transparent !important;
    }
    .sitenav ul li:hover,
    .sitenav ul li.current_page_item{
        background-color:inherit !important;
    }
    .cta-button{
        padding: 0 0 15px;
        margin: 0;
    }
    .cta-button a{
        padding: 15px 25px;
    }
    .cta-button a span{
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    /* ---- Slider ----- */
    .nivo-caption{
        width: 86% !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
    }
    .home-banner .social-icons{
        display: none;
    }
    .home-banner h4{
        font-size: 16px;
        margin-bottom: 10px;
        padding-left: 0;
        letter-spacing: 0;
    }
    .home-banner h4:before{
        content: none;
    }
    .home-banner h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .home-banner p{
        display: none;
    }
    .home-banner a.slide-button{
        font-size: 12px;
        padding: 8px 18px;
    }
    .home-banner .nivo-directionNav{
        display: none;
    }
    .home-banner .nivo-controlNav{
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .home-banner .nivo-controlNav:before,
    .home-banner .nivo-controlNav:after{
        content: none;
    }

    /* ------ Extra ------ */
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }

    /* --------- Pages ------- */
    .wrapper {
        width: 95%;
        display: inherit !important;
    }
    .content-area {
        width: 95%;
        margin: 0 auto;
        padding: 0 0 50px;
    }
    .flex{
        display: block;
    }
    .site-main {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
    .welcome-section,
    .services{
        padding: 50px 0;
    }
    .welcome-content{
        margin-bottom: 30px;
    }
    .welcome-thumb{
        margin-left: 0;
    }
    h4.subheading{
        font-size: 18px;
    }
    .welcome-content h2{
        font-size: 24px;
    }
    h2.section_title{
        font-size: 26px;
    }
    .service-box .inner{
        padding: 25px;
    }
}
/* Mobile Landscape View */

@media screen and (max-width: 739px) and (min-width: 480px) {
    * {
        box-sizing: border-box;
    }
    
    /* ------ Header ------ */
    .site-title{
        text-align: center;
        margin-top: 20px;
    }
    .right-area {
        width: 300px;
        margin: 0 auto 20px;
    }
    .right-area .cell{
        width: 100%;
    }
    .right-area .cell .cell-icon{
        float: left;
    }
    .cell:not(:last-child){
        padding-right: 0;
        padding-bottom: 20px;
        margin-right: 0;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid;
    }
    
    /* ------ Navigation ------ */
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin: 20px 0;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
        margin-bottom:20px;
        width:100%;
    }
    .theme-navigation{
        position: relative;
    }
    .navigation{
        padding: 0;
        margin-bottom: 15px;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li ul {
        color: #fff;
        opacity: 0;
        padding:0;
        position: absolute;
        right: 9999rem;
        top: calc(100% + 2rem);
        transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
        transform: translateY(0.6rem);
        width: 20rem;
        z-index: 1;
    }
    .sitenav ul li.menu-item-has-children:hover > ul,
    .sitenav ul li.menu-item-has-children:focus > ul,
    .sitenav ul li.menu-item-has-children.focus > ul {
        left: 0;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.15s linear, transform 0.15s linear;
        background-color:#303030;
        top:0;
        position: relative;
    }
    .sitenav ul li a {
        padding: 5px 10px;
        display: block;
        color: #ffffff !important;
        text-align:left !important;
    }
    .sitenav ul li a:hover {
        color: #ffffff;
    }
    .sitenav ul li ul,
    .sitenav ul li ul ul {
        display: block !important;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
		color: #ffffff !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    .sitenav ul li.current_page_item a{
        background-color:transparent !important;
    }
    .sitenav ul li:hover,
    .sitenav ul li.current_page_item{
        background-color:inherit !important;
    }
    .cta-button{
        padding: 0 0 15px;
        margin: 0;
    }
    .cta-button a{
        padding: 15px 25px;
    }
    .cta-button a span{
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    /* ------ Slider ------ */
    .nivo-caption{
        width: 86% !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
    }
    .home-banner .social-icons{
        display: none;
    }
    .home-banner h4{
        margin-bottom: 10px;
    }
    .home-banner h2{
        font-size: 42px;
        margin-bottom: 10px;
    }
    .home-banner p{
        display: none;
    }
    .home-banner a.slide-button{
        font-size: 14px;
        padding: 10px 25px;
    }    
    .home-banner .nivo-directionNav{
        display: none;
    }
    .home-banner .nivo-controlNav{
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .home-banner .nivo-controlNav:before,
    .home-banner .nivo-controlNav:after{
        content: none;
    }

    /* ------ Theme ------ */
    .flex{
        display: block;
    }
    .welcome-content{
        margin-bottom: 30px;
    }
    .welcome-thumb{
        margin-left: 0;
    }

    /* ------ Extra ------ */
    #sitemain iframe {
        max-width: 100%;
        height: auto;
    }
    /* --------- Pages ------- */
    .wrapper {
        width: 460px;
        display: inherit !important;
    }    
    .content-area {
        width: 460px;
        margin: 0 auto;
        padding: 0 0 50px;
    }
    .site-main {
        width: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    #sidebar {
        width: auto;
        margin: 60px 0 0;
        padding: 0;
        float: none;
    }
}
@media screen and (max-width: 899px) and (min-width: 320px) {
    .cat_comments {
        height: auto;
    }
}
/* Tablet View */

@media screen and (max-width: 999px) and (min-width: 740px) {
    * {
        box-sizing: border-box;
    }

    /*--- Header ----*/
    .tab-block{
        display: block;
    }
    .site-title{
        text-align: center;
        margin-top: 20px;
    }
    .cell:not(:last-child){
        padding-right: 30px;
        margin-right: 25px;
    }
    .cell-data h3{
        font-size: 14px;
    }
    .cell-data p{
        font-size: 12px;
    }

    /*--- Navigation ----*/
    .toggle {
        display: block;
    }
    .toggle a {
        width: 100%;
        color: #ffffff;
        background: url(../images/mobile_nav_right.png) no-repeat right center #373a3f;
        padding: 10px 10px;
        margin: 20px 0 0;
        font-size: 16px;
		text-decoration: none;
    }
    .toggle a:hover {
        color: #ffffff !important;
    }
    .toggle a.active {
        color: #ffffff;
    }
    .sitenav {
        display: none;
        float:none;
        margin-bottom: 20px;
    }
    .theme-navigation .flex{
        display: block;
    }
    .navigation{
        width:auto;
        background-color: transparent !important;
        position:relative !important;
        padding: 0;
        margin-bottom: 20px;
    }
    .sitenav ul {
        background: #000000;
        color: #000;
        width: 100%;
        float: none;
        margin-top: 0;
    }
    .sitenav ul li {
        border-top: 1px #303030 solid;
        display: block;
        float: none;
        text-align: left;
    }
    .sitenav ul li:before{
        content: none;
    }
    .sitenav ul li ul {
        color: #fff;
        opacity: 0;
        padding:0;
        position: absolute;
        right: 9999rem;
        top: calc(100% + 2rem);
        transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
        transform: translateY(0.6rem);
        width: 20rem;
        z-index: 1;
    }
    .sitenav ul li.menu-item-has-children:hover > ul,
    .sitenav ul li.menu-item-has-children:focus > ul,
    .sitenav ul li.menu-item-has-children.focus > ul {
        left: 0;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.15s linear, transform 0.15s linear;
        background-color:#303030;
        top:0;
        position: relative;
    }
    .sitenav ul li a {
        padding: 14px 12px;
        display: block;
        color: #ffffff !important;
        text-align:left;
    }
    .sitenav ul li a:hover {
        color: #ffffff;
    }
    .sitenav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .sitenav ul li ul li a {
        padding-left: 20px !important;
		color: #ffffff !important;
    }
    .sitenav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    .sitenav ul li:hover,
    .sitenav ul li.current_page_item{
        background-color:inherit !important;
    }
    .cta-button{
        padding: 0 0 15px;
        margin: 0;
    }
    .cta-button a{
        padding: 15px 25px;
    }
    .cta-button a span{
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    /* --------- Slider ------- */
    .home-banner .nivo-caption{
        width: 70%;
    }
    .home-banner h2{
        font-size: 42px;
    }
    .home-banner p{
        display: none;
    }
    .home-banner .social-icons{
        left: 30px;
        top: calc(40% + 100px);
        -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
    }
    .home-banner .social-icons a{
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 12px;
    }
    .home-banner .social-icons:after{
        font-size: 14px;
        left: -52%;
        top: -130px;
        -webkit-transform: rotate( -90deg ) translateY(-50%);
        -ms-transform: rotate( -90deg ) translateY(-50%);
        transform: rotate( -90deg ) translateY(-52%);
    }
    .home-banner a.nivo-prevNav{
        left: 40%;
    }
    .home-banner a.nivo-nextNav{
        right: 40%;
    }
    /* --------- Pages ------- */
    .wrapper {
        width: 95%;
        display: inherit !important;
    }
    .content-area {
        width: auto;
        margin: 0 20px;
        padding: 0 0 50px 0;
    }
    .site-main {
        width: 60%;
        margin: 0;
        padding: 0;
        float: left;
    }
    #sidebar {
        width: 35%;
        margin: 0;
        padding: 0;
        float: right;
    }
    .welcome-content h2{
        font-size: 28px;
    }
    .inner {
        padding: 6%;
    }
    .service-thumb{
        width: 18%;
        margin-right: 15px;
    }
}
@media screen and (min-width: 1000px) {
    .sitenav ul li ul li {
        display: block;
        position: relative;
        float: none;
    }
    .sitenav ul li ul li a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px #313131 solid;
    }
    .site-main {
        width: 70%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1159px) {
    .cell:not(:last-child){
        padding-right: 25px;
        margin-right: 20px;
    }
    .wrapper {
        width: 95%;
    }
	.sitenav ul{
		font-size:12px;
	}
    .sitenav ul li{
        margin:0 5px 0 0;
    }
    .sitenav ul li a{
        padding: 30px 8px;
    }
	.sitenav ul li:hover > ul{
		top:52px;
	}
    .cta-button a{
        font-size: 14px;
        padding:0 9px;
    }
    .nivo-caption {
        height: auto !important;
        width: 66%;
    }
    .nivo-caption h2{
        font-size: 48px;
    }
    .home-banner .social-icons:after{
        font-size: 14px;
        left: -38%;
        top: -130px;
        -webkit-transform: rotate( -90deg ) translateY(-38%);
        -ms-transform: rotate( -90deg ) translateY(-38%);
        transform: rotate( -90deg ) translateY(-38%);
    }
    .home-banner a.nivo-prevNav{
        left: 40%;
    }
    .home-banner a.nivo-nextNav{
        right: 40%;
    }
    .cat_comments {
        left: 35px;
        width: 25%;
    }
    .content-area {
        width: 95%;
	}
}